body, html {
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

.h-90 {
  height: 90%!important;
}
.h-10{
  height: 10%!important;
}

.h-85 {
  height: 85%!important;
}
.h-15 {
  height: 15%!important;
}

.w-85 {
  width: 85%!important;
}
.w-15 {
  width: 15%!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
