.wel-container{
     display: flex;
     flex-direction: row;
     background-color: black;
 }
.wel-imgMAC{
    width: 50%;
}
.wel-img{
     width:100%;
 }
.wel-content{
    width: 40%;
    height:100%;
    margin-top: 20%;
    margin-left: 13%;
}
.wel-input{
    width: 25rem;
    height: 2.7rem;
    padding-left: 15px;
    border-radius: 3rem;
    outline: none;
    border: 3px red solid;
    background-color: white;
    box-shadow: 5px 5px 5px red;
}
.wel-button{
    margin-top: 2rem;
    height: 45px;
    width: 15rem;
    background-color: black;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(1,251,252);
    outline: none;
    border-radius: 10px;
}
.wel-top{
    margin-top: 1.5rem;
}
.wel-left{
    margin-left: 5rem;
}
