*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: black;
}
.container{
     display: flex;
     flex-direction: row;
 }
.imgMAC{
    width: 50%;
}
.img{
     width:100%;
 }
.conten{
    width: 40%;
    height:100%;
    margin-top: 20%;
    margin-left: 15%;
}
input{
    width: 25rem;
    height: 2.7rem;
    padding-left: 15px;
    border-radius: 3rem;
    outline: none;
    border: 3px red solid;
    background-color: white;
    box-shadow: 5px 5px 5px red;
}
button{
    margin-top: 2rem;
    height: 45px;
    width: 15rem;
    background-color: black;
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 5px rgb(1,251,252);
    outline: none;
    border-radius: 10px;
}
.top{
    margin-top: 1.5rem;
}
.left{
    margin-left: 4rem;
}